<div *ngIf="planet">
    <div class="container">
        <div class="w">
            <div>{{planet.name}}</div>
            <hr>
            <div class="title">Durchmesser: <span>{{planet.diameter}} Km</span></div>
            <div class="title">Distanz zur Sonne: <span>{{planet.distanceToSun}} Mio Km</span></div>
            <div class="title">Anzahl Monde: <span>{{planet.numberOfMoons}}</span></div>
            <ul>
                <li *ngFor="let moon of moons">
                    <a routerLink="/detailMoon/{{moon.id}}">
                        <span class="badge">{{moon.id}}</span> <span class="name">{{moon.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="w">
            <img src={{planet.url}} alt={{planet.name}}>    
        </div>
    </div>
</div>
