#bg {
    background-image: url(../assets/milchstrasse-full.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  * {
    color: white; 
  }

  .title {  
    font-size: 3em; 
    font-weight: bold;
    margin-left: 5%;
    padding-top: 25px;
  }

  .container {
    padding-left: 5%;
    padding-top: 20px;
    display: flex;
  }

  nav {
    padding-top: 30px;
  }

  a { 
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px 5px 15px;
    margin-right: 30px;
    background:transparent;
    border: 2px solid #3498db;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  .border {
    margin-top: 15px;
    margin-left: 5%;
    width: 850px;
    color: #3498db;
    height: 2px;
    background-color: #3498db;
  }

  input {
    border: 2px solid #3498db;
    height: 25px;
    border-radius: 10px;
    background:transparent;
    margin-right: 15px;
  }

.search {
  display: flex;
  padding: 5px 15px 5px 15px;
}

.message {
  margin-left: 5%;
  margin-top: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  width: 50%;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  text-align: center;
}

p {
  margin: 0;
}

