h1 {
    margin-left: 20%;
    margin-bottom: 60px;
}

.container {
    display: flex;
    margin-left: 5%;
}

p, div, h2 {
    color: white;
}

img {
    width: 400px;
    height: auto;
}

span {
    font-weight: bold;  
}

.title {
    margin-bottom: 20px;
}